<service name="gbp">
  <summary>git-buildpackage based source package downloader</summary>
  <description>This service uses git-buildpackage to download sources, and create the proper tarballs and build-description file, from git repositories.</description>
  <parameter name="url">
    <description>the URL of the git repository to download from</description>
    <required />
  </parameter>
  <parameter name="debian-branch">
    <description>The GIT branch to use. This has to contain the actual packaging files.</description>
  </parameter>
  <parameter name="revision">
    <description>The GIT commit or tag to use.</description>
  </parameter>
  <parameter name="enable-submodules">
    <description>Wether to fetch submodules [yes/no]; default: no</description>
  </parameter>
  <parameter name="enable-pristine-tar">
    <description>Wether to create .orig.tar* with pristine-tar [yes/no]; default: no</description>
  </parameter>
  <parameter name="compression">
    <description>What compression algorithm to use for the source tarballs [xz/gzip/...]; default: auto</description>
  </parameter>
</service>
